/* $default_dark_0: #1e1e1e; */
.background_default_dark_0 {
  background-color: $default_0-base;
} /* $default_dark_0: #1e1e1e; */
.background_default_dark_1 {
  background-color: $default_1-base !important;
}
/*.color_default_dark_0 {
  color: $default_dark_0;
}*/

/*$white*/
.background_white {
  background-color: $default_10-base !important;
}
