.empty-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  height: 100vh;
}

//form
.form {
  width: 90%;
  padding: 10px 0;
  &__inputs-wrapper {
    background: white;
    padding: 0 0 14px 0;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    hr {
      margin: 25px 0;
      border-bottom: 1px solid white;
      border-top: 1px solid #00000069;
    }
    h3 {
      margin: 10px 0 0 0;
    }
  }
  &__inner {
    flex-direction: column;
    width: 100%;
  }
  &__forgot {
    margin: 25px 0 0 0;
    align-self: center;
    font-size: 15px;
    color: $dark-purple;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-second {
  background-color: $main-yellow !important;
  color: $black !important;
  font-weight: 700;
}

//header logo
.header__logo {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 23px;
  color: #a279ff;
  font-family: "Russo One", sans-serif;
  &::before {
    content: "";
    // background-image: url("../assets/logo.svg");
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 5px;
  }
  &::after {
    content: "UA";
    position: absolute;
    top: 0;
    right: -17.5px;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.7);
  }
  &-wrapper {
    display: grid;
    align-items: center;
    height: 70px;
    grid-template-columns: 26.5909092% 62.0454548% 11.36363636%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    justify-items: center;
  }
}

//Titles
h2 {
  font-weight: 700;
  font-size: 40px;
}
h3 {
  font-weight: 600;
  font-size: 30px;
}
h4 {
  font-weight: 500;
  font-size: 24px;
}
h5 {
  font-weight: 500;
  font-size: 20px;
}
