.organizer {
  font-family: "Russo One", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
}

.router-link-exact-active.router-link-active {
  .v-list-item {
    &__action .v-icon {
      color: $default_lighten_1;
    }
    &__title {
      font-weight: 500 !important;
    }
  }
  .v-overlay__scrim {
    opacity: 0 !important;
  }
}
.theme--dark {
  .v-list-item__title {
    color: $primary_dark_text;
  }
  .router-link-exact-active.router-link-active {
    .v-list-item__title {
      color: $default_lighten_1;
    }
  }
}
