$primary_light: #a279ff;
$secondary_light: #ffe969;
$accent_light: #4e27a6;
$error_light: #a6226d;
$info_light: #d96fff;
$success_light: #22a622;
$warning_light: #ff6400;

$primary_dark: #0d6700;
$secondary_dark: #790009;
$accent_dark: #3b0453;
$error_dark: #ff5252;
$info_dark: #00322d;
$success_dark: #140c56;
$warning_dark: #7d2e00;

$black: #000000;
$default_lighten_0: #0a0a0a;
$default_lighten_1: #1d1d1d;
$default_lighten_2: #2b2b2b;
$default_lighten_3: #4e4e4e;
$default_lighten_4: #7c7c7c;
$default_lighten_5: #a5a5a5;
$default_lighten_6: #b8b8b8;
$default_lighten_7: #cecece;
$default_lighten_8: #e0e0e0;
$default_lighten_9: #f3f3f3;
$white: #ffffff;
