$primary_light: "#a279ff";
$secondary_light: "#ffe969";
$accent_light: "#4E27A6";
$error_light: "#A6226D";
$info_light: "#D96FFF";
$success_light: "#22A622";
$warning_light: "#FF6400";

$primary_dark: "#0d6700";
$secondary_dark: "#790009";
$accent_dark: "#3B0453";
$error_dark: "#FF5252";
$info_dark: "#00322D";
$success_dark: "#140C56";
$warning_dark: "#7D2E00";

$black: #0a0a0a;
