//variables-color
$white: #ffffff;
// $grey-text: #424242;
$grey-light: #f0f2f5;
// $grey-lightest-text: #b4b4b4;
// $brown-darkest-text: #635f44;
// $brown-text: #737269;
// $brown-light-text: #cccabd;
// $blue-text: #3b5997;
// $black-grey: #282c2a;

.grey-light {
  background-color: $grey-light;
}
