$primary: var(--v-primary-base);
$secondary: var(--v-secondary-base);
$accent: var(--v-accent-base);
$error: var(--v-error-base);
$info: var(--v-info-base);
$success: var(--v-success-base);
$warning: var(--v-warning-base);

$default_0-base: var(--v-default_4-darken2);
$default_1-base: var(--v-default_1-lighten2);
$default_2-base: var(--v-default_1-lighten3);
$default_3-base: var(--v-default_1-lighten4);
$default_4-base: var(--v-default_1-lighten5);
$default_5-base: var(--v-default_2-lighten5);
$default_6-base: var(--v-default_3-lighten5);
$default_7-base: var(--v-default_4-lighten4);
$default_8-base: var(--v-default_4-lighten5);
$default_9-base: var(--v-default_5-lighten4);
$default_10-base: var(--v-default_5-lighten5);
$router-link-active-text: var(--v-default_1-darken4);

$black: #000000;
$default_lighten_0: #0a0a0a;
$default_lighten_1: #1d1d1d;
$default_lighten_2: #2b2b2b;
$default_lighten_3: #4e4e4e;
$default_lighten_4: #7c7c7c;
$default_lighten_5: #a5a5a5;
$default_lighten_6: #b8b8b8;
$default_lighten_7: #cecece;
$default_lighten_8: #e0e0e0;
$default_lighten_9: #f3f3f3;
$white: var(--v-default_4-lighten5);

$default_dark_0: #1e1e1e;
$default_dark_1: #363636;

$primary_dark_text: #c5c5c5;
