.search {
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 0 30px;
  transition: all 0.1s ease;
  padding: 0 5px 0;
  &:hover {
    background: rgba(196, 196, 196, 0.6);
    transition: all 0.1s ease;
  }
  &:hover {
    background: rgba(196, 196, 196, 0.6);
    transition: all 0.1s ease;
  }
  &__main {
    background: rgba(196, 196, 196, 0);
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease;
    border: 0;
    *:hover {
      color: rgba(0, 0, 0, 0.7);
      transition: all 0.1s ease;
    }
  }
  &_passive {
    padding: 12.5px 70px 11.5px 20px;
    background: none;
  }
  &_active {
    padding: 12.5px 200px 11.5px 20px;
  }
  &__images-wrapper {
    display: flex;
  }
  &-img {
    cursor: pointer;
    width: 23px;
    height: 23px;
  }
}
.header {
  display: grid;
  grid-template-columns: 245px 1fr;
  align-items: center;
  grid-area: header;
  &__logo {
    &-wrapper {
      display: grid;
      align-items: center;
      height: 70px;
      grid-template-columns: 26.5909092% 62.0454548% 11.36363636%;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      justify-items: center;
    }
    &-lang {
      color: rgba(0, 0, 0, 0.7);
      top: 10px;
      position: absolute;
      left: 215px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    height: 100%;
  }
}
